body {
	display: flex;
	justify-content: space-around;
}

.bublik1 {
	height: 250px;
	width: 250px;
	border-radius: 50%;
	background:
			linear-gradient(40deg, #F5A623 50%, transparent 50%, transparent)
			,linear-gradient(-40deg, red 50%, transparent 50%, transparent)
			,linear-gradient(-40deg, transparent 50%, #F5A623  50%, #F5A623);
}

.bublik2 {
	height: 250px;
	width: 250px;
	border-radius: 50%;
	background:
			linear-gradient(to right, #F5A623 50%, transparent 50%, transparent)
			,linear-gradient(-40deg, red 50%, transparent 50%, transparent)
			,linear-gradient(-40deg, transparent 50%, green  50%, green)
;
}
