.parent {
	display: flex;
}

.child {
    width: 150px;
    height: 150px;
    background: green;
    margin: 10px;
    font-size: 25px;
}

.child:nth-child(1) {
			order: 3;
		}
.child:nth-child(2) {
			order: 1;
		}
.child:nth-child(3) {
			order: 4;
		}
.child:nth-child(4) {
			order: 2;
		}