* {
    display: flex;
    flex-wrap: wrap;
}

.child:first-child{
            background: red;
        }

        .child:last-child{
            background: green;
            margin-left: 50px;
        }
        .child:nth-child(n+5){
            background: blue;
        }
        .child:nth-child(10){
            font-size: 24px;
        }
        .child:nth-child(17){
            font-size: 24px;
        }
        .child:hover:nth-child(2n + 1) {
            border: 3px dashed green;
        }

        .child {
            width: 20%;
            height: 40px;
            background: fuchsia;
            margin-right: 15px;
            margin-bottom: 15px;
            font-size: 15px;
        }