.grid-practice {
	display: grid;
	grid-template-rows: 50vh 50vh;
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas: "Four Five Six"
						 "Seven Eight Nine";
}

.grid-practice div:nth-child(1) {
	grid-area: Four;
	background: cadetblue;
}

.grid-practice div:nth-child(2) {
	grid-area: Five;
}

.grid-practice div:nth-child(3) {
	grid-area: Six;
	background: darkseagreen;
}

.grid-practice div:nth-child(4) {
	grid-area: Seven;
	background: #DADADA;
}

.grid-practice div:nth-child(5) {
	grid-area: Eight;
	background: pink;
}

.grid-practice div:nth-child(6) {
	grid-area: Nine;
	background: darkseagreen;
}

.five-grid {
	display: grid;
	grid-template-rows: 50% 50%;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "Five1 Five2"
						 "Five3 Five4";
}

.five-grid div:nth-child(1) {
	grid-area: Five1;
	background: coral;
}

.five-grid div:nth-child(2) {
	grid-area: Five2;
	background: cadetblue;
}

.five-grid div:nth-child(3) {
	grid-area: Five3;
	background: brown;
}

.five-grid div:nth-child(4) {
	grid-area: Five4;
	background: #FFEBC9;
}

.seven-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "Seven1 Seven2";
}

.seven-grid div:nth-child(1) {
	grid-area: Seven1;
	background: darkgrey;
}

.seven-grid div:nth-child(2) {
	grid-area: Seven2;
	background: cornflowerblue;
}

.nine-grid {
	display: grid;
	grid-template-rows: 50% 50%;
	grid-template-areas: "Nine1"
						 "Nine2";
}

.nine-grid div:nth-child(1) {
	grid-area: Nine1;
	background: chartreuse;
}

.nine-grid div:nth-child(2) {
	grid-area: Nine2;
	background: darkorchid;
}
