.group {
	display: flex;
	align-items: flex-start;
	height: 800px;
}

.child {
    width: 100px;
    height: 400px;
    margin: 10px 30px;
    font-size: 25px;
	background: #F5A623;
}

.child:nth-child(3) {
	background: green;
	align-self: center;
}
.child:nth-child(1) {
	align-self: flex-end;
}

.child:nth-child(5) {
	align-self: flex-end;
	background: red;
}

.child:nth-child(7) {
	background: pink;
}