.parent {
	height: 2800px;
}

.bloc1 {
	width: 300px;
	height: 200px;
	margin-top: 10px;
	margin-left: 300px;
	background: orange;
	position: -webkit-sticky;
	position: sticky;
	top: 10px;
}

.bloc2 {
	width: 400px;
	height: 100px;
	margin-top: 70px;
	margin-left: 400px;
	background: coral;
	position: -webkit-sticky;
	position: sticky;
	top: 60px;
}

.bloc3 {
	width: 200px;
	height: 200px;
	margin-top: 10px;
	margin-left: 700px;
	background: lightskyblue;
	position: -webkit-sticky;
	position: sticky;
	top: 40px;
}