.container {
	height: 100vh;
	position: relative;
}

.boll {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: red;

	position: absolute;
	bottom: 50px;
	left: 50px;

	animation-duration: 3s;
	animation-name: jump;
  	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }

    15% {
        transform: translateY(-80vh);
    }

    30% {
        transform: translateY(0);
    }

    45% {
        transform: translateY(-60vh);
    }

    60% {
        transform: translateY(0);
    }
	85% {
        transform: translateY(-30vh);
    }

    100% {
        transform: translateY(0);
    }

}