
.show-button {
	background: coral;
	color: #FFFFFF;
	font-size: 40px;
	padding: 30px 15px;
	display: inline-block;
}

.hidden-text {
	color: coral;
	font-size: 20px;
	font-weight: bold;

}

.hidden-content {
	opacity: 0;
	transition: opacity 1s linear;
}


.show-button:hover+.hidden-content{
 	opacity: 1;
}
