.box {
	display: flex;
	flex-direction: column;
}

.box button:nth-child(n) {
	height: 50px;
	width: 150px;
	margin: 15px;
}

.box button:hover:nth-child(1) {
	background: coral;
}

.box button:nth-child(1) {
	transition: background 1s ease-in-out;
}

.box button:hover:nth-child(2) {
	background: darkseagreen;
	border-radius: 15px;
	color: #FFFFFF;
}

.box button:nth-child(2) {
	transition: all 1s ease-in;
}

.box button:hover:nth-child(3) {
	background: royalblue;
	font-size: 30px;
	color: #FFFFFF;
}

.box button:nth-child(3) {
	transition: all 1s ease-out;
}

.box button:hover:nth-child(4) {
	background: royalblue;
	color: #FFFFFF;
	transform: skew(5deg, 5deg) scale(1.1);
}

.box button:nth-child(4) {
	transition: background 1s ease-out,
				color 1s ease-out;
}

.box button:hover:nth-child(5) {
	background: royalblue;
	color: #FFFFFF;
	transform: skew(5deg, 5deg) scale(1.1);
	box-shadow: #555555;
}

.box button:nth-child(5) {
	transition: background 1s cubic-bezier(1,1.55,0,.73),
				color 1s cubic-bezier(1,1.55,0,.73),
				box-shadow 1s cubic-bezier(1,1.55,0,.73);
}

