@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.team {
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 815px;
    background: #FFF5E4;
    align-items: center;

    margin-left: auto;
    margin-right: auto;
}

.team-header {
    margin-top: 90px;
    font-family: Oswald;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #333333;
}

.team-h3 {
    margin-top: 20px;
    font-family: Oswald;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 64px;
    text-align: center;
    color: #333333;
}

.team-text {
    margin-top: 15px;
    width: 470px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    color: rgba(51, 51, 51, 0.501557);
}

.team-photo {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.team-people {
    width: 370px;
    height: 370px;
    margin: 15px;
    background: #FFFFFF;
    box-shadow: 10px 10px 40px rgba(54, 33, 0, 0.102129);
    border-radius: 3px;
}

.team-position {
    margin-top: 5px;
    margin-left: 35px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: rgba(51, 51, 51, 0.501557);
}

.team-name {
    margin-top: 15px;
    margin-left: 35px;

    font-family: Oswald;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
}

.solution {
    display: flex;
    width: 1440px;
    height: 430px;
    background: #FFF5E4;
    padding-left: 120px;
    padding-right:135px;
    margin-left: auto;
    margin-right: auto;
}

.solution-blok {
    width: 25%;
    padding-top: 100px;
    padding-right: 20px;
    padding-left: 15px;
}

.solution-h3 {
    margin-top: 35px;
    font-family: Oswald;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
}

.solution-text {
    margin-top: 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: rgba(51, 51, 51, 0.501557);
    overflow: auto;
    text-overflow: ellipsis;
    height: 170px;
}

.story {
    width:1440px;
    height: 880px;
    display: flex;
    justify-content: flex-start;
    background: #FFFFFF;
    margin-left: auto;
    margin-right: auto;

}
.story-video {
    width: 570px;
    height: 624px;
    background: linear-gradient(135deg, #FFEBC9 0%, #F5A623 100%);
    border-radius: 3px;
    margin-top: 130px;
    margin-left: 135px;
}

.story-iframe {
    width: 570px;
    height: 530px;
    border: 0;
    position: relative;
    top: 50px;
    left: 55px;
}

.story-box {
    margin-top: 220px;
    margin-left: 130px;
    display: block;
}

.story-about {
    width: 78px;
    height: 32px;
    background: rgba(245, 166, 35, 0.2);
    border-radius: 3px;
    text-align: center;
    font-family: Oswald;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #333333;
}

.story-h3 {
    margin-top: 40px;
    font-family: Oswald;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 64px;
    color: #333333;
}

.story-article {
    margin-top: 20px;
    width: 470px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: rgba(51, 51, 51, 0.501557);
}

.story-founder {
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.story-avatar {
    width: 80px;
    height: 80px;
}

.story-founder-about {
    display: block;
    margin-left: 20px;
}

.story-founder-name {
    font-family: Oswald;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
}

.story-founder-position {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: rgba(51, 51, 51, 0.501557);
}

.contact {
    width:1440px;
    height: 880px;
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
}

.contact-text {
    width: 90px;
    height: 32px;
    margin-top: 125px;
    background: rgba(245, 166, 35, 0.2);
    border-radius: 3px;
    text-align: center;

    font-family: Oswald;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
     /*identical to box height, or 178% */
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #333333;
}

.contact-h3 {
    width: 340px;
    height: 65px;
    margin-top: 45px;
    font-family: Oswald;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 64px;
    color: #333333;
}

.contact-input {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: rgba(51, 51, 51, 0.501557);

    width: 350px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #DADADA;
    box-sizing: border-box;
    border-radius: 3px;
}

.contact-box {
    margin-top: 25px;
}

.contact-textarea {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: rgba(51, 51, 51, 0.501557);

    width: 350px;
    height: 145px;
    background: #FFFFFF;
    border: 1px solid #DADADA;
    box-sizing: border-box;
    border-radius: 3px;
}

.contact-button {
    margin-top: 30px;
    width: 170px;
    height: 50px;
    background: #F5A623;
    border-radius: 3px;
}

.contact-button-text {
    font-family: Oswald;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}

.contact-map {
    width: 570px;
    height: 624px;
    background: linear-gradient(135deg, #FFEBC9 0%, #F5A623 100%);
    border-radius: 3px;
    margin-top: 125px;
    margin-right: 135px;
}
.contact-form {
    margin-left: 135px;
}

.contact-iframe {
    width: 570px;
    height: 530px;
    border:0;
    position: relative;
    top: 50px;
    right: 60px;
}

.footer {
    width:1440px;
    height: 448px;
    background: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer-info {
    display: flex;
    justify-content:space-between;
    padding-top: 70px;
;
}

.footer-left-box {
    display: block;
    margin-left: 135px;

}
.footer_right_block {
    display: block;
    margin-right: 340px;
}

.footer-info-line1 {
    height: 60px;
    display: flex;
    align-items: center;
    margin-bottom: 25px;

}

.footer-info-box {
    display: flex;
    margin-top: 15px;
}


.footer-h3 {
    color: white;
    font-family: Oswald;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
}

.footer-social {
    color: white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    color: #FFFFFF;
}

.img-phone {
    width: 16px;
    height: 18px;
}

.img-mail {
    width: 18px;
    height: 14px;
}

.img-facebook {
    width: 9px;
    height: 16px;
}

.img-twitter {
    width: 16px;
    height: 13px;
}

.img-instagram {
    width: 16px;
    height: 16px;
}

.footer-oval {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background: #555555;
    margin-right: 8px;
}


.phone-number {
    width: 200px;
    height: 32px;
    font-family: Oswald;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    padding-left: 15px;
    padding-top: 10px;
}

.mail {
    width: 138px;
    height: 32px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
    padding-left: 15px;
    padding-top: 10px;
}

.footer-line {
    /* Rectangle */
    margin-top: 60px;
    margin-left: 165px;
    height: 1px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.3;
}

.copyright {
    /* Copyright © 2019 Con */
    margin-top: 50px;
    margin-left: 165px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.502972);
}
