.grid-practice-1 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 100px);
	grid-gap: 10px;
}

.grid-practice-1 div:nth-child(1) {
	background: red;
}

.grid-practice-1 div:nth-child(2) {
	background: sandybrown;
}

.grid-practice-1 div:nth-child(3) {
	background: lightgray;
}

.grid-practice-1 div:nth-child(4) {
	grid-row-start: 2;
	grid-column-start: 1;
	grid-row-end: 2;
	grid-column-end: 4;
	background: darkturquoise;
}

.grid-practice-1 div:nth-child(5) {
	background: lightskyblue;
}

.grid-practice-1 div:nth-child(6) {
	background: sandybrown;
}

.grid-practice-1 div:nth-child(7) {
	background: sandybrown;
}