@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.footer {
    width:1440px;
    height: 448px;
    background: #333333;
    display: block;
}

.footer-info {
    display: flex;
    justify-content:space-between;
    padding-top: 70px;
;
}

.footer-left-box {
    display: block;
    margin-left: 165px;

}
.footer_right_block {
    display: block;
    margin-right: 340px;
}

.footer-info-line1 {
    height: 60px;
    display: flex;
    align-items: center;
    margin-bottom: 25px;

}

.footer-info-box {
    display: flex;
    margin-top: 15px;
}


.footer-h3 {
    color: white;
    font-family: Oswald;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
}

.footer-social {
    color: white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    color: #FFFFFF;
}

.img-phone {
    width: 16px;
    height: 18px;
}

.img-mail {
    width: 18px;
    height: 14px;
}

.img-facebook {
    width: 9px;
    height: 16px;
}

.img-twitter {
    width: 16px;
    height: 13px;
}

.img-instagram {
    width: 16px;
    height: 16px;
}

.footer-oval {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background: #555555;
    margin-right: 8px;
}


.phone-number {
    height: 32px;
    font-family: Oswald;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    padding-left: 15px;
    padding-top: 10px;
}

.mail {
    height: 32px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
    padding-left: 15px;
    padding-top: 10px;
}

.footer-line {
    /* Rectangle */
    margin-top: 60px;
    margin-left: 165px;
/*width: 1170px;*/
height: 1px;
/*left: 135px;*/
/*top: 6250px;*/

background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.3;
/*color: #FFFFFF;*/
}

.copyright {
    /* Copyright © 2019 Con */
    margin-top: 50px;
    margin-left: 165px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.502972);
}
