div{
    font-size: large;
    text-align: center;
}

div:after{
    content: "";
    background-image: url("https://gitlab.com/lectrum-education/html-css-1lvl/hc-3/live/-/raw/master/lesson-4/homework/%D0%9F%D1%80%D0%B0%D0%BA%D1%82%D0%B8%D0%BA%D0%B0/3/img/thumbnail.png");
}

div:before{
    content: "";
    background-image: url("https://gitlab.com/lectrum-education/html-css-1lvl/hc-3/live/-/raw/master/lesson-4/homework/%D0%9F%D1%80%D0%B0%D0%BA%D1%82%D0%B8%D0%BA%D0%B0/3/img/thumbnail.png");
}