.group1, .group2, .group3 {
	display: flex;
	width: 900px;
}

.child {
    max-width: 250px;
    height: 150px;
    margin: 10px;
    font-size: 20px;
	background: orange;
	flex: 1;
}

.group1> .child:nth-child(3) {
	flex-grow: 3;
}

.group2> .child:nth-child(2) {
	flex-grow: 10;
}