@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', 'Arial', sans-serif;
}

.container {
   width: 1440px;
   margin: 0 auto;
}


.header {

    min-height: 120px;
    top: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    background-color: #FAFAFA;
    box-shadow: 0px 24px 38px rgba(0, 0, 0, 0.14), 0px 9px 46px rgba(0, 0, 0, 0.12), 0px 11px 15px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.header_nav {
    display: flex;
    align-items: center;

}

.header_menu {
    display: flex;
    margin-left: 60px;
}

.header_menu li:nth-child(n) {
    margin-left: 40px;
    list-style: none;
    text-decoration: none;
}

.header_menu a:nth-child(n) {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
}

.header_menu a:hover:nth-child(n) {
    text-decoration: underline #6200EE ;
}


.nav_text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.87);
}


.header_social svg:nth-child(n) {
    margin-left: 22px;
    fill: black;
    fill-opacity: 0.4;
}

.header_social svg:hover:nth-child(n) {
    fill:#03DAC4;
    fill-opacity: 1;
}

.main {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    min-height: 900px;
    padding-left: 120px;
    background-color: #FFFFFF;
}

.main_pict {
    width: 850px;
    height: 810px;

    margin: 110px -140px 0  -140px;
}

.main_h1_block {
     margin: 15px 0 35px 0;

}

.main_h1_text {


    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 70px;
    line-height: 82px;
    letter-spacing: -0.5px;
    color: #6200EE;
}

.main_left {
    margin-top: 215px;
}

.main_text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.25px;

    color: rgba(0, 0, 0, 0.6);
}

.main_h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.6);
}

.main_phone {
    margin-top: 70px;
    display: flex;
    height: 60px;
    filter: drop-shadow(0px 27px 51px rgba(17, 0, 213, 0.24));

}

.main_phone_input {
    display: flex;
    width: 310px;
    background: #FFFFFF;
    border: 1px solid rgba(25, 25, 25, 0.32);
    box-sizing: border-box;
    padding-left: 15px;
    vertical-align: center;
}

.main_phone_text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.15px;

    color: rgba(0, 0, 0, 0.6);
}


.main_phone_button {
    width: 180px;
    background: #3B00DD;
    border: 1px solid rgba(25, 25, 25, 0.32);
    box-sizing: border-box;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.people {
    text-align: center;
    min-height: 880px;
    padding: 125px 120px 110px 120px;
    background-color: #FFFFFF;
}



.main_h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 54px;
    text-align: center;
}


.people_slogan {
    margin-top: 40px;
}

.people_card {
    display: flex;
    justify-content: space-between;
    margin: 40px 0px;
}

.people_card div:not(:first-child) {
    margin-left: 25px;
}

.people_card_item {
    width: 385px;
    background: #FAFAFA;
    box-shadow: 0px 24px 38px rgba(0, 0, 0, 0.14), 0px 9px 46px rgba(0, 0, 0, 0.12), 0px 11px 15px rgba(0, 0, 0, 0.2);
    text-align: center;

    position: relative;
}

.people_name {
    margin-top: 55px;
}

.people_name_text {

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.25px;

    color: rgba(0, 0, 0, 0.87);
}

.people_who {
    margin-top: 15px;
    margin-bottom: 50px;
}

.people_video {
    position: absolute;
    top: 112px;
    left: 172px;
}

.people_avatar {
    position: absolute;
    top: 220px;
    left: 150px;
}

.team {
    min-height: 880px;
    padding: 120px 120px 110px 120px;
    background-color: #F5F5F5;
}
.team_grid {
    display: grid;
    grid-row-gap: 25px;
    grid-column-gap: 25px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "img1 img2 img3 info"
                         "img4 img5 img6 info";
}

.people_img1 {
    grid-area:img1;
}

.people_img2 {
    grid-area:img2;
}

.people_img3 {
    grid-area:img3;
}

.people_img4 {
    grid-area:img4;
}

.people_img5 {
    grid-area:img5;
}

.people_img6 {
    grid-area:img6;
}

.people_info {
    padding: 80px 50px;
    grid-area:info;
    background: #0000A0;
}

.peope_info_time {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #F5F5F5;
}

.peope_info_slogan {
    margin-top: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;

    color: rgba(255, 255, 255, 0.6);
}

.peope_info_header {
    margin-top: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.25px;
    color: #F5F5F5;
}

.people_info_text {
    margin-top: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15.4px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: rgba(255, 255, 255, 0.6);
}

.advantages {
    text-align: center;
    /*min-height: 640px;*/
    padding: 107px 120px 120px 0px;
    background-color: #FFFFFF;
}

.advantages_aticle {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}


.advantages_aticle_left {
    padding: 70px 25px 0 25px;
    background: #3B00DD;
    width: 385px;
    text-align: left;
}

.advantages_slogan {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.25px;
    color: #FFFFFF;
}

.advantages_aticle_text {
    margin-top: 25px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #FFFFFF;
}

.advantages_aticle_auth {
    display: flex;
    /*flex-direction: row;*/
    margin-top: 50px;
}

.advantages_auth_avatar {
    border-radius: 50%;
}

.advantages_auth {

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;

    color: #FFFFFF;

    margin-bottom: 5px;


}

.advantages_auth_name {

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    letter-spacing: 0.25px;

    color: #FFFFFF;

}

.advantages_auth_info {
    margin-left: 15px;
    margin-bottom: 40px;
}

.advantages_aticle_right {
    margin-left: 125px;
    max-width: 590px;
    text-align: left;
}

.advantages_aticle_right .advantages_left_block:not(:first-child) {
    margin-top: 55px;
}

.advantages_left_block {

}

.advantages_left_text {

    margin-top: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.6);


}

.advantages_left_header {

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.87);
}

.footer {
    text-align: center;
    background-color: #FAFAFA;
}

.footer_social {
    display: flex;
    justify-content: space-between;
    padding: 50px 120px;
    background-color: #3B00DD;

    box-shadow: 0px 24px 38px rgba(0, 0, 0, 0.14), 0px 9px 46px rgba(0, 0, 0, 0.12), 0px 11px 15px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.footer_mail {
    display: flex;
    height: 50px;
    /*filter: drop-shadow(0px 27px 51px rgba(17, 0, 213, 0.24));*/
}

.footer_mail_input {
    display: flex;
    width: 310px;
    background: #FFFFFF;
    border: 1px solid rgba(25, 25, 25, 0.32);
    box-sizing: border-box;
    padding-left: 15px;
    vertical-align: center;
}

.footer_mail_text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.15px;

    color: rgba(0, 0, 0, 0.6);
}

.footer_mail_button {
    width: 180px;
    background: #03DAC4;
    border: 1px solid rgba(25, 25, 25, 0.32);
    box-sizing: border-box;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;

    color: #000000;
}


.footer_social_icons svg:nth-child(n) {
    margin-left: 5px;
    fill: #FAFAFA;
    fill-opacity: 0.4;
}

.footer_social_icons svg:hover:nth-child(n) {
    fill:#03DAC4;
    fill-opacity: 1;
}

.footer_contact {
    display: flex;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 60px;
    background: #F5F5F5;
}

.footer_contact .footer_contact_block:not(:first-child) {
    margin-left: 125px;
}

.footer_contact_block {
    width: 180px;
    text-align: left;
}

.footer_contact_header {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.87);
}

.footer_contact_text p {
    margin-top: 30px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;

    color: rgba(0, 0, 0, 0.6);

}



.footer_menu li:nth-child(n) {
    margin-top: 15px;
    list-style: none;
    text-decoration: none;
}

.footer_menu a:nth-child(n) {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

.footer_menu a:hover:nth-child(n) {
    text-decoration: underline rgba(0, 0, 0, 0.6);

}

.footer_contact_text a {
    color: rgba(0, 0, 0, 0.6);
}


.footer_nav_text {
    margin-top: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.6);

}

.footer_law {
    margin: 50px 120px;
    background: #FFFFFF;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;

    color: rgba(0, 0, 0, 0.6);

}

.footer_law a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

button:hover {
    cursor: pointer;
}

