.grid-practice-1 {
	display: grid;
	grid-template-rows: 150px calc(100vh - 150px);
	grid-template-columns: 300px 1fr;
	grid-template-areas: "aside header"
						 "aside main";
}

.grid-practice-1 div:nth-child(1) {
	grid-area: aside;
	background: #F5A623;
}

.grid-practice-1 div:nth-child(2) {
	grid-area: header;
	background: #FFEBC9;
}

.grid-practice-1 div:nth-child(3) {
	grid-area: main;
	background: darkturquoise;
}