.parent {
	display: flex;
	align-items: flex-end;
	margin: 150px;
}

.parent__item {
	width: 300px;
	height: 200px;
	background: red;
	color: #FFEBC9;
	background: linear-gradient(to right,red, firebrick);-webkit-box-shadow: -10px -10px 36px -5px rgba(34, 60, 80, 0.41) inset;
	-moz-box-shadow: -10px -10px 36px -5px rgba(34, 60, 80, 0.41) inset;
	box-shadow: -10px -10px 36px -5px rgba(34, 60, 80, 0.41) inset;
}

.parent__item:hover {
	margin-bottom: -15px;
	height: 300px;
}

.parent div:nth-child(1) {
	/*position: absolute;*/
}

.parent div:nth-child(2) {
	position: relative;
	right: 150px;
}

.parent div:nth-child(3) {
	position: relative;
	right: 300px;
}

.parent div:nth-child(4) {
	position: relative;
	right: 450px;
}

.parent div:nth-child(5) {
	position: relative;
	right: 600px;
}


