
        .link1:hover{
            background: red;
        }

        .link2:hover{
            color: green;
        }

        .link3:hover{
            border-bottom: 2px solid orangered;
        }
        .link4:hover{
            font-size: large;
        }
        .link-border:hover{
            border-bottom: 3px double fuchsia;
            border-top: 3px double fuchsia;
        }