.group {
	display: flex;
	flex-direction: row-reverse;
}

.child {
	width: 10%;
	height: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
	font-size: 28px;
	background: orange;
}
.child:nth-child(2n+1) {
	font-size: 12px;
}

.child:nth-child(5) {
	font-size: 8px;
}

.child:nth-child(3) {
	font-size: 22px;
}

.child:nth-child(8) {
	font-size: 42px;
}